// FONTS
$font-header: "Anton", sans-serif;
$font-text: "Lato", sans-serif;

// COLORS
$color-black: #1d1e22;
$color-white: #f9f7f7;

$color-blue-light: #dbe2ef;
$color-blue-medium: #3f72af;
$color-blue-dark: #112d4e;

$range-track-height: 16px;
$range-sound-height: 12px;