.App {
  display: grid;
  grid-template-columns: [sidebar] 400px [main] 1fr;
  grid-template-rows: [content] 1fr [footer] 80px;
  gap: 0px 0px;
  grid-template-areas:
    "sidebar main"
    "footer footer";
}

.footer {
  grid-area: footer;
}
.sidebar {
  grid-area: sidebar;
  // Pour conserver le box-shadow du sidebar au dessus de la playlist
  z-index: 1;
}
.main {
  grid-area: trackslist;
}
