.App {
  display: grid;
  grid-template-columns: [sidebar] 400px [trackslist] 1fr;
  grid-template-rows: [main] 1fr [footer] 80px;
  gap: 0px 0px;
  grid-template-areas:
    "sidebar trackslist"
    "footer footer";
}

.footer {
  grid-area: footer;
}
.sidebar {
  grid-area: sidebar;
}
.trackslist {
  grid-area: trackslist;
}
