@import "./variables";

.btn {
  all: unset;
  cursor: pointer;
  color: $color-blue-light;

  &:hover {
    color: white;
  }
}

.disabled,
.btn:disabled,
.btn[disabled] {
  color: hsl(0deg 0% 100% / 25%);
  pointer-events: none;
}
