@import "./variables";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

body {
  font-family: $font-text;
  color: $color-white;
  overflow-x: hidden;

  background-image: linear-gradient(
    120deg,
    $color-blue-dark 0%,
    $color-blue-medium 100%
  );
  transition: background 0.1s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
}

:root {
  --margin-main: 2rem;
  --footer-height: 80px;
  --footer-padding: 2rem;
  --footer-gap: 1rem;
  --footer-controls: 150px;
  --footer-features: 290px;

  @media (width < 900px) {
    --footer-height: 150px;
  }
  @media (width < 768px) {
    --margin-main: 0rem;
  }
}

// https://www.makeuseof.com/react-components-css-modules-style/
