@import "./variables";

.wrapper {
  display: flex;
  gap: 1rem;
  color: $color-blue-medium;
}

.icon {
  --size: 3em;
  animation: rotate 1.5s linear infinite;
  width: var(--size);
  height: var(--size);

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
