@import "./variables";

.wrapper {
  height: 100%;

  padding: 2rem;
  box-shadow: 2px 0px 5px 1px $color-blue-dark;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: $color-white;
  // color: $color-blue-light;

  .icon {
    animation: rotate 1.5s linear infinite;
    width: var(--size);
    height: var(--size);
  }

  &:hover .icon {
    animation-play-state: paused;
  }

  .title {
    font-size: 3rem;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.track {
  flex: 1;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  .cover {
    margin-top: 4rem;
    box-shadow: 0 0 5px 2px $color-blue-light;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 300px;
    height: 300px;

    position: relative;

    .image {
      width: 100%;
    }

    .playIcon {
      all: unset;
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      display: grid;
      place-content: center;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &::after {
      position: absolute;
      display: block;
      content: "";
      background: hsl(0deg 0% 100% / 20%);
      inset: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:hover {
      .playIcon,
      &::after {
        opacity: 1;
      }
    }
  }

  .infos {
    text-align: center;

    .title {
      font-weight: bold;
    }

    .artist {
      font-size: 0.9rem;
    }
  }
}

.btnPlaylist {
  all: unset;

  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  // box-shadow: 0 0 2px 3px $color-white;
  // background: $color-white;
  border: 1px solid $color-blue-dark;
  color: $color-blue-dark;
  font-size: 1.2rem;
  margin-inline: auto;

  cursor: pointer;
  width: 200px;

  --color-1: #{$color-blue-medium};
  --color-2: #{$color-white};

  box-shadow: 0px 0px 2px 1px $color-blue-light;
  background: linear-gradient(
    to bottom,
    var(--color-2) 5%,
    var(--color-1) 100%
  );
  background-color: var(--color-2);

  &.active {
    --color-1: #{$color-blue-medium};
    --color-2: #{$color-blue-dark};
    color: $color-white;
  }

  &:hover {
    background: linear-gradient(
      to bottom,
      var(--color-1) 5%,
      var(--color-2) 100%
    );
    background-color: var(--color-1);
  }
}
