@import "../variables";

.wrapper {
    width: 100%;
    height: calc(100dvh - 80px);
    background-color: red;
    background-image: linear-gradient(
        45deg,
        $color-blue-medium 0%,
        $color-blue-dark 100%
      );

    position: absolute;
    inset: 0;

    overflow-y: auto;
}