@import "../variables";

.wrapper,
.header {
  display: flex;
  gap: 1rem;
  line-height: 3;
  padding-inline: 1rem;
}

.header {
  border-bottom: 1px solid #ccc;
}

.wrapper {
  border-radius: 0.25rem;
  &.active {
    background: hsla(0 0% 0% / 20%);
    font-weight: 600;
  }
  &:hover {
    background: hsla(0 0% 0% / 30%);
    cursor: pointer;
  }
}

.index {
  width: 3ch;
  text-align: right;
}

.title,
.artist,
.album {
  width: 100%;
  max-width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (width < 1400px) {
  .album {
    display: none;
  }
}
@media (width < 1050px) {
  .artist {
    display: none;
  }
}

.duration {
  width: 5ch;
  // font-family: $font-duration;
}
