@import "../variables";

.wrapper,
.header {
  display: flex;
  gap: 1rem;
  line-height: 3;
  padding-inline: 1rem;
}

.header {
  border-bottom: 1px solid #ccc;
}

.wrapper {
  border-radius: 0.25rem;
  &:hover {
    background: hsla(0, 0deg, 0%, 0.3);
    cursor: pointer;
  }
}

.index {
  width: 3ch;
  text-align: right;
}

.title {
  width: 100%;
}

.duration {
  width: 5ch;
  font-family: $font-duration;
}
